@model IEnumerable<WebApp.Models.User>
    <script>
        $(document).ready(function () {

        });

        function getAudio(empnum) {
            $("." + empnum).load("/AudioDownload/Index?empnum=" + empnum);
        }
    </script>    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LanId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Play Recording
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LanId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <div id="divDownloadAudio" class="@item.EmployeeNumber">
                           <input type="button" onclick="getAudio(@item.EmployeeNumber)" value="Get Recording" class="btn btn-primary" />
                        </div>
                    </td>                   
                </tr>
            }
        </tbody>
    </table>
