@model WebApp.Models.SearchUserModelList

<table id="tblGrid" style="border: 1px solid #999" cellpadding="1" cellspacing="0" class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>LanId</th>
            <th>Employee Number</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @if (@Model != null)
        {
            @foreach (var data in @Model.SearchUserData)
            {
                <tr>
                    <td>@data.Name </td>
                    <td>@data.LanId </td>
                    <td>@data.EmpNum </td>
                    <td>@data.Email </td>
                </tr>
            }
        }

    </tbody>
</table>


